# .NET / Visual Studio

# VS metadata
.vs/
**/.vs/

# Build artifacts
bin/
obj/
[Bb]uild/
x64/
x86/
[Oo]ut/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs / caches
*.log
*.cache
*.gpState

# ReSharper / Rider
_ReSharper.*/
*.DotSettings.user
.idea/

# NuGet
*.nupkg
packages/

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# VS Code
.vscode/
